.App {
  font-family: sans-serif;
  text-align: center;
}

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  position: relative;
  background-color: #fefefe;
  padding: 1.25rem;
  border: 1px solid #888;
  width: 80%;
}

.close {
  position: absolute;
  right: 0.5rem;
  top: 0rem;
  color: #aaa;
  font-size: 2rem;
}

.close:hover {
  color: black;
  cursor: pointer;
}
